.container aside {
  display: block;
  padding: 0 96px;
  width: 40%;
}

.container aside img {
  display: block;
  margin: 0 auto;
}

.container aside .riot-logo {
  margin-top: 60px;
}

.container aside h2 {
  margin: 40px auto;
  text-align: center;
}

.container aside .inputs label {
  display: block;
  position: relative;
}

.container aside .inputs label > input {
  opacity: .6;
  width: 100%;
  height: 60px;
  padding-left: 14px;
  padding-top: 10px;

  border: 1px solid #BDBDBD;
  margin-bottom: 15px;

  background: #EDEDED;
  color: black;
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;

  opacity: 1;
}

.container aside .inputs label > span {
  color: gray;

  font-size: 16px;
  line-height: 20px;
  font-weight: 900;

  position: absolute;
  top: 20px;
  left: 15px;

  transition: all 200ms;

  /* no select span */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.container aside .inputs label input:focus + span,
.container aside .inputs label > .move-top {
  top: 6px; 
  font-size: 12px;
  line-height: 10px;

  transition: all 200ms;
}

.container aside .login-options {
  width: 100%;
  display: flex;

  gap: 0 20px;
}

.container aside .login-options .icon {
  width: 20px; 
  height: 20px; 
}
.container aside .login-options a {
  display: flex;
  flex-direction: column;

  padding: 8px 20px;
  border-radius: 6px;

  cursor: pointer;
  width: 100%;
}

.container aside .login-options .facebook{
  background: rgba(var(--facebook-button-color));
  border: rgba(var(--apple-button-color), .2);
}
.container aside .login-options .google {
  background: rgba(var(--google-button-color));
  border: 1px solid rgba(var(--apple-button-color), .2);
}
.container aside .login-options .apple {
  background: rgba(var(--apple-button-color));
  border: rgba(var(--apple-button-color), .2);
}
.container aside .login-options .xbox {
  background: rgba(var(--xbox-button-color));
  border: rgba(var(--apple-button-color), .2);
}

.container aside label.remember-signin {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--bold-gray);
  margin: 20px 0 40px 0;
}

.container aside .remember-signin > input {
  width: 20px;
  height: 20px;

  background-color: var(--light-gray);

  margin-right: 6px;
  border-radius: 50px;

  cursor: pointer;
}

.container aside button.sign-in {
  display: block;

  border: 1px solid #E0E0E0;
  padding: 20px;
  border-radius: 18px;

  margin: 0 auto;
  margin-bottom: 32px;

}

.container aside button.sign-in.active {
  background-color: var(--riot-red-color);
  border: 1px solid var(--riot-red-color);
  cursor: pointer;
  transition: all 200ms;
}

.container aside button.sign-in.active > svg {
  stroke: white;
}

.container aside footer {
  display: flex;
  flex-direction: column;
  gap: 50px 0;


  width: 100%;

  color: var(--semi-bold-gray);
  font-size: 12px;
  
  font-weight: 800;
  line-height: 15px;
}

.container aside footer span {
  width: 100%;
  height: 100%;
}
.container aside footer span a {
  color: var(--semi-bold-gray);
}
.container aside footer span a:hover {
  color: var(--bold-gray);
  opacity: .5;
}

.container aside footer span > a:visited {
  color: var(--semi-bold-gray);
}
.container aside footer span > a:hover {
  color: var(--bold-gray);
  opacity: .6;
}

.container aside footer > div.help-signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 300px;
}
.container aside footer > div.help-signup > a:visited {
  color: var(--semi-bold-gray);
}
.container aside footer > div.help-signup > a:hover {
  color: var(--bold-gray);
  opacity: .6;
}

.container aside footer > span.developed {
  display: block;
  color: var(--semi-bold-gray);
  text-align: center;
  opacity: .5;
}

@media(max-width: 1280px) {
  .container aside .login-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .container aside footer {
    height: 90px;
  }
}

@media(max-width: 940px) {
  .container section {
    display: none;
  }
  .container aside {
    width: 100%;
    margin: 0 auto;
  }
  .container aside .login-options {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
  }
  .container aside .login-options a {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .container aside {
    width: 100%;
  }
  .container aside .login-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .container section {
    display: none;
  }
}

@media(max-width: 480px) {
  .container aside .login-options {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  .container aside .inputs label > span {
    left: 14px;
    font-size: 12px;
  }
}
@media(max-width: 380px) {
  .container aside footer > div.help-signup {
    font-size: 8px;
  }
}
