:root {
  --btn-switch-bg: #EEEEEE;
  --btn-switch-border: #E5E5E5;
  --btn-switch-icon-color: #BEBEBE;

  --show-sun-icon: block;
  --show-moon-icon: none;
}

:has(.container.dark-theme) {
  --btn-switch-bg: #191919;
  --btn-switch-border: #111111;
  --btn-switch-icon-color: #363636;

  --show-sun-icon: none;
  --show-moon-icon: block;
}

.container .button-container {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  background-color: var(--btn-switch-bg);
  border: 1px solid var(--btn-switch-border);

  width: 80px;
  height: 30px;
  padding: 20px 10px;

  border-radius: 50px;
  cursor: pointer;
}

.container .button-container svg {
  width: 24px;
  height: 24px;

  stroke: var(--btn-switch-icon-color);
}

.container .button-container svg.sun {
  display: var(--show-sun-icon);
}

.container .button-container svg.moon {
  display: var(--show-moon-icon);

  margin-left: 35px;
}

@media(max-width: 480px){
  .container .button-container {
    position: relative;
  }
}
